@media screen and (max-width: 480px) {
    
}

article {
    display: inline-block;
    width: 24rem;
    transition: box-shadow 0.2s ease;
    margin: 2.5rem 0.6rem 0 0.6rem;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

article > img {
    width: inherit;
    border-radius: 5px 5px 0 0;
}

article > p {
    margin: 0.6rem 0.9rem;
}

article:hover {
    box-shadow: 0 3px 5px rgb(0,0,0,0.2);
}