.container {
    display: flex;
    background-color: #eee;
    justify-content: center;
}

.center {
    column-count: 3;
    width: 75rem;
}

@media screen and (max-width: 768px) {
    .center {
        column-count: 1;
        width: auto;
        justify-content: center;
    }
}
